#cards .panel-body {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.progress {
  height: 21px;
}

.progress .progress-bar {
  padding-left: 10px;
  font-size: 13px;
  line-height: 21px;
  min-width: 3em;
}

.progress .progress-bar:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, .50);
}

#collapse-owners {
  padding-bottom: 20px;
}

.table td:first-child {
  text-align: right;
}

.table .label {
  margin-right: 10px;
}

#accordion-owners > .panel {
  border-color: #eee;
}

.panel-title .fa.fa-circle {
  margin-left: 5px;
  font-size: 10px;
}

.panel-success .panel-title .fa.fa-circle.text-success {
  color: rgba(255, 255, 255, 0.8);
}
